*
!**/*.vhd
!**/Makefile
!**/*.c
!Schematics/**/*
!Schematics/
!FullReport/
!FullReport/**/*.pdf
!FullReport/**/*.tex
!FullReport/**/*.png
!Presentation/
!Presentation/**/*
!Code/
!Code/**/*
!**/*.png
!**/*.pdf

